.a {
  width: 100%;
}
body {
  font-family: "Courier New", Courier, monospace;
  font-weight: bolder;
  color: black;
  background-color: gray;
}
input {
  width: 100%;
  border-radius: 5px;
  margin: 4px;
  height: 40px;
  border: 1px solid green;
  /* border: 1px solid; */
}
.option {
  border-color: #007bff;
}
section {
  width: 100%;
}
.container {
  /* max-width: 80%!important; */
  /* text-align: center; */
  margin: auto;
}
.card {
  /* margin:auto!important; */
  /* text-align: center; */
  /* float: right; */
  margin: auto;
}
.result {
  margin-left: 0;
}
img {
  width: 80%;
  height: 440px;
}
.button {
  background-color: rgb(106, 238, 198);
  color: blue;
  padding: 10px;
}
.button:hover{
  background-color: gray;
  color: rgb(106, 238, 198);
}
.form-control {
  border: 1px solid darkgreen;
  margin-top: 10px;
  /* margin-bottom: 10px; */
}
